<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Snake Game
        link(rel="stylesheet", href="style.css")
        meta(name="theme-color" content="#24242C")
        script(src="https://kit.fontawesome.com/a076d05399.js")
        link(rel="shortcut icon" href="./icon.svg" type="image/x-icon")
    body
        h3 Snake Game | ElvisGmz
        div.screenGame
            canvas#snakeGame(width='310', height='310')
            p#labelDown Your score: 
                span#score
        div.buttons
            table
                tr
                    td
                    td
                        button(id='btnUp')
                            i(class='fas fa-arrow-up')
                    td
                tr
                    td
                        button(id='btnLeft')
                            i(class='fas fa-arrow-left')
                    td
                    td
                        button(id='btnRight')
                            i(class='fas fa-arrow-right')
                tr
                    td
                    td
                        button(id='btnDown')
                            i(class='fas fa-arrow-down')
                    td
        p Usa las flechas de tu teclado para jugar o los botones tactiles.
        script(src="snake.js")