<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Snake Game
        link(rel="stylesheet", href="style.css")
        meta(name="theme-color" content="#24242C")
        link(rel="shortcut icon" href="./icon.svg" type="image/x-icon")
    body
        h3 Snake Game | ElvisGmz
        div.screenGame
            canvas#snakeGame(width='310', height='310')
            p#labelDown Your score: 
                span#score
        p Usa las flechas de tu teclado para jugar y recarga la pagina para jugar de nuevo
        script(src="snake.js")