body {
  margin: 0;
  background-color: #24242c;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
}

h3 {
  font-size: 22px;
}

p {
  max-width: 300px;
}

#labelDown {
  color: #000;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.screenGame {
  padding: 10px;
  background-color: greenyellow;
}

canvas {
  background-color: greenyellow;
  border: 1px solid #000;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  max-width: 300px;
}

table{
  width: 100%;
  max-width: 150px;
  height: 150px;
}

td{
  text-align: center;
  padding: 0;
  margin: 0;
}

button{
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 0;
  background-color: crimson;
  color: #fff;
  padding: 1rem;
  margin: 0;
  outline: 0;
  width: 60px;
  text-align: center;
  height: 60px;
}

i{
  margin: 0;
  padding: 0;
  font-size: 22px;
}